<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>后台管理平台</title>
<meta name="description" content="若依后台管理框架">
<link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
<script src="../static/js/pagejs/login.js" th:src="@{/js/pagejs/login.js}" type="text/javascript"></script>
<script src="../static/js/jquery-2.1.0.min.js" th:src="@{/js/jquery-2.1.0.min.js}" type="text/javascript"></script>
</head>
<body>
	<div class="main">
		<fieldset>
			<legend th:text="#{login.tip}">后台管理系统</legend>
			<p>
				<label><img alt="图片" th:src="@{/img/bootstrapsolid.svg}"
					src="img/bootstrapsolid.svg" width="72" height="72" /></label>
			</p>
			<p style="color: red" th:text="${msg}"
				th:if="${not #strings.isEmpty(msg)}"></p>
			<p>
				<label th:text="#{login.username}">用户名</label>： <input type="text"
					id="username" />
			</p>
			<p>
				<label th:text="#{login.password}">密&nbsp;&nbsp;&nbsp;码</label>： <input
					type="text" id="password" />
			</p>
			<p><label>看不清？点击刷新 <img alt="验证码" id="verifyCode" src="" width="90" height="20" onclick="verifyCode()"/></label>
			</p>
            <p>
                <label>验证码 ： <input type="text" id="code" /></label>
            </p>
			<p>
				<label class="checkbox"><input type="checkbox" id="remember" onclick="remember()"
					th:text="#{login.save}" /><input type="hidden" id="remFlag" value=0 /></label> 
                    
                <label class="checkbox"><input
					type="checkbox" th:text="#{login.autologin}"/></label>
			</p>
			<p>
				<button class="btn" type="submit" onclick="checkUser()"
					th:text="#{login.btn}">登录</button>
				<button class="btn" type="submit" onclick="registerPage()"
                    th:text="#{login.register}">注册？</button>
			</p>
			<p class="mt-5 mb-3 text-muted">© 2019-2020</p>
			<a class="btn btn-sm" th:href="@{/login.html(l='zh_CN')}">中文</a> <a
				class="btn btn-sm" th:href="@{/login.html(l='en_US')}">English</a>
		</fieldset>
	</div>
</body>
</html>