<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>后台管理平台</title>
<meta name="description" content="若依后台管理框架">
<link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
<script src="../static/js/pagejs/login.js" th:src="@{/js/pagejs/login.js}" type="text/javascript"></script>
<script src="../static/js/jquery-2.1.0.min.js" th:src="@{/js/jquery-2.1.0.min.js}" type="text/javascript"></script>
</head>
<body>
	<div class="main">
		<fieldset>
			<legend th:text="#{register.tip}">后台管理系统</legend>
			<p th:text="#{register.btn}">注册</p>
			<p>
				<label th:text="#{register.username}">用户名</label>： <input type="text"
					id="username" />
			</p>
			<p>
				<label th:text="#{register.password}">密&nbsp;&nbsp;&nbsp;码</label>： <input
					type="text" id="password" />
			</p>
			<p>
				<button class="btn" type="submit" onclick="checkUser()"
					th:text="#{register.btn}">注册</button>
			</p>
			<p class="mt-5 mb-3 text-muted">© 2019-2020</p>
			<a class="btn btn-sm" th:href="@{/register.html(l='zh_CN')}">中文</a> <a
				class="btn btn-sm" th:href="@{/register.html(l='en_US')}">English</a>
		</fieldset>
	</div>
</body>
</html>